{% extends 'CocarBundle::layout.html.twig' %}

{% block main -%}
    <h2 class="general-title">Cadastro de Entidades</h2>
    <center>
        <form action="{{ path('entity_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="records_list">
                {{ form_errors(form) }}
                <div class="item-form">
                    <label>Identificador:</label>
                    {{ form_widget(form.identifier) }}
                </div>
                <div class="item-form">
                    <label>Descrição da entidade:</label>
                    {{ form_widget(form.description) }}
                </div>
                <div class="item-form">
                    <button type="submit">Cadastrar</button>
                </div>
            </div>

            <!--<table class="records_list" border=0 cellspacing=2 cellpadding=2>
                <tr>
                    {{ form_errors(form) }}
                    <th> Identificador: </th>
                    <td> {{ form_widget(form.identifier) }} </td>
                </tr>
                <tr>
                    <th> Descrição da entidade: </th>
                    <td> {{ form_widget(form.description) }} </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="submit">Cadastrar</button>
                    </td>
                </tr>
            </table>-->
            {{ form_rest(form) }}
        </form>
    </center>
{% endblock %}
