{% extends 'CocarBundle::layout.html.twig' %}

{% block main -%}
    <h2 class="general-title">Entidade</h2>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identificador</th>
                <th>Descrição</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.identifier }}</td>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('entity') }}">
               Lista de entidade
            </a>
        </li>
        <li>
            <a href="{{ path('entity_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('entity_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit" class="deletar">Deletar</button>
            </form>
        </li>
    </ul>
{% endblock %}
