{% extends 'CocarBundle::layout.html.twig' %}

{% block search %}
	{% if search_result is defined %}
		<ul class="container-results">
		{% for result in search_result %}
				<li class="container-box-results">
					<div class="top-title">
						<h3>/{{ result.identifier }}</h3>
					</div>
					<div class="content">
						<a href="{{ path('cocar_graph', {'id': result.id }) }}">
							{{ result.description }}
						</a>
					</div>
				</li>
		{% endfor %}
		</ul>
		
		{% if search_result == null and search == true %}
			<div class="noresult">
				<p>"Nenhum resultado encontrado"</p>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}

{% block main %}
	
	<div class="container-box">
		<div class="top-title">
			<h2>Unidades que Apresentam Tráfego Alto</h2>
		</div>
		<div class="content">
			{% for ht in high_traffic %}
			<a href='graph/{{ ht.id }}'>{{ ht.description }}/{{ ht.entity }}</a>
			{% endfor %}
		</div>
	</div>
	<div class="container-box">
		<div class="top-title">
			<h2>Unidades que Não Apresentam Tráfego</h2>
		</div>
		<div class="content">
			{% for wt in without_traffic %}
			<a href='graph/{{ wt.id }}'>{{ wt.description }}/{{ wt.entity }}</a>
			{% endfor %}
		</div>
	</div>
	<div class="container-box">
		<div class="top-title">
			<h2>Unidades com Problemas de Confiabilidade</h2>
		</div>
		<div class="content">
			{% for rly in reliability %}
			<a href='graph/{{ rly.id }}'>{{ rly.description }}/{{ rly.entity }}</a>
			{% endfor %}
		</div>
	</div>

	<div class="container-box">
		<div class="top-title">
			<h2>Total de Unidades com Alerta de Tráfego Irregular <strong>{{ (high_traffic|length + without_traffic|length) + reliability|length}}</strong> de <strong>{{ total }}</strong></h2>
		</div>
		<div class="content">
			<div class="box-result">
				<span>Tráfego Alto</span>
				<span class="value">{{ high_traffic|length }}</span>
			</div>
			<div class="box-result">
				<span>Tráfego Baixo</span>
				<span class="value">{{ without_traffic|length }}</span>
			</div>
			<div class="box-result">
				<span>Confiabilidade</span>
				<span class="value">{{ reliability|length }}</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>

{% endblock %}