{% extends 'CocarBundle::layout.html.twig' %}

{% block main %}

	<h2 class="general-title">Totaliza&ccedil;&atilde;o de Desempenho</h2>

	<table width='550' cellspacing='2' cellpadding='1' CLASS='records_list' ALIGN="center">
		<thead>
            <tr align='center' valign='middle'>
                <th>Organização</th>
                <th>Tráfego Alto</th>
                <th>Tráfego Baixo</th>
                <th>Confiabilidade</th>
                <th>Total</th>
            </tr>
        </thead>
		{% if circuits is defined %}
			{% set total, t, high, without, rly = 0, 0, 0, 0, 0 %}
			{% for key, cir in circuits %}
				<TR ALIGN='center' VALIGN='middle'>
					<TD ALIGN='left'>
						<a href="{{ path('cocar_report', { 'id': key })}}">{{ cir.description }}</a>
					</TD>
					<TD>{{ cir.high }}</TD>
					<TD>{{ cir.without }}</TD>
					<TD>{{ cir.rly }}</TD>
					<TD ALIGN='right'>{{ cir.totalCirc }}/{{ cir.total }}</TD>
				</TR>
				{% set total, t = total + cir.total, t + cir.totalCirc %}
				{% set high, without, rly = high + cir.high, without + cir.without, rly + cir.rly %}
			{% endfor %}
		{% endif %}
		<TR ALIGN='center' VALIGN='middle'>
			<th>TOTAL</th>
			<th>{{ high }}</th>
			<th>{{ without }}</th>
			<th>{{ rly }}</th>
			<th ALIGN='center'>{{ t }}/{{ total }}</th>
		</TR>
	</table>

{% endblock %}