{% extends 'CocarBundle::layout.html.twig' %}

{% block main %}

	<h2 class="general-title">Rede de Acesso - Performance dos Circuitos</h2>

		<a class="report-ico" title='Clique para Concentradoras com alto Tráfego! ' href="">
		  	{% image '@CocarBundle/Resources/public/images/ico2.png' %} 
		  		<img border="0" src="{{ asset_url }}" width='48' height='48'></a>
		  	{% endimage %} 
		</a>
		{% if img is defined %}
			<a class="report-ico" href="#">
			 	{% image '@CocarBundle/Resources/public/images/ico1.png' %} 
			  		<img border="0" align="right" title=' Clique para verificar Tráfego! ' alt=' Clique para verificar Tráfego! ' src="{{ asset_url }}" width='48' height='48'></a>
			  	{% endimage %} 
			</a>
		{% endif %}

		<div class="clear"></div>

		{% if circuit != null %}
		<div class="container_form">	
			<form action="{{ path('cocar_reportshow') }}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}
				<span id="form_choice">
					<select size='1' name='circuit'>
						{% for cir in circuit %}
							<option selected value='{{ cir.id }}'>{{ cir.description }}</option>
						{% endfor %}
					</select>
				</span>
				<span id="form_choice">
					{{ form_widget(form.type, {'attr': {'style': 'font-family: Verdana; font-size: 11px; background-color: none;'}}) }}
				</span>
					{{ form_widget(form.entity) }}
				{{ form_rest(form) }}
				<button type="submit">Enviar</button>
			</form>
		</div>
		{% else %}
			<h2>Atenção: Nenhum circuito encontrado!</h2>
		{% endif %}
	
	{% if img is defined %}
		<table class="records_list" border="0" cellspacing="2" cellpadding="2" align="center">
			<thead>
				<tr align="center" valing="middle">
					<td align="center" valign="center">
						{% if type is defined %}
							<h2 class="title-table">{{ type }}</h2>
						{% endif %}
					</td>
					<td align="right">
						<a title=' Clique para Tabela referente ao gráfico! ' href="">
						  	{% image '@CocarBundle/Resources/public/images/help.png' %} 
						  		<img border="0" align="right" src="{{ asset_url }}" width='24' height='24'></a>
						  	{% endimage %} 	
						</a> 
						<a title=' Clique para Tabela referente ao gráfico! ' href="">
						  	{% image '@CocarBundle/Resources/public/images/table.png' %} 
						  		<img border="0" align="right" src="{{ asset_url }}" width='24' height='24'></a>
						  	{% endimage %} 
						</a>
					</td>	
				</tr>
			</thead>
			<tbody>
				<tr>
					<TD COLSPAN="4"></TD>
			    </tr>
				<tr ALIGN="left">
					{% for image in img %}
						<td width="100%">
							<img src="{{ asset('rrd/graficos/') }}{{ image }}" width="450px">
						</td>
					{% endfor %}	
				</tr>
			</tbody>
		</table>
	{% endif %}
{% endblock %}
