{% extends 'CocarBundle::layout.html.twig' %}

{% block main -%}
    <h2 class="general-title">Impressoras cadastradas</h2>
    <center>
        <ul>
            <li>
                <form action="{{ path('printer_index') }}" method="get" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    {{ form_widget(form.startDate) }}
                    {{ form_widget(form.endDate) }}
                    <button type="submit">Enviar</button>
                    <button type="submit" formaction="{{ path('printer_csv') }}">Gerar CSV</button>
                </form>
            </li>
        </ul>
    </center>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Host</th>
                <th>Serie</th>
                <th>Local</th>
                <th>Contador Inicial</th>
                <th>Data Inicial</th>
                <th>Contador Final</th>
                <th>Data Final</th>
                <th>Impressões</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in printer %}
            <tr>
                <td><a href="{{ path('printer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.host }}</td>
                <td>{{ entity.serie }}</td>
                <td>{{ entity.local }}</td>
                <td>{{ entity.printsStart }}</td>
                {% if entity.startDate %}
                    <td>{{ entity.startDate|date("d/m/Y") }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ entity.printsEnd }}</td>
                {% if entity.endDate %}
                    <td>{{ entity.endDate|date("d/m/Y") }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ (entity.printsEnd - entity.printsStart) }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('printer_show', { 'id': entity.id }) }}">Visualizar</a>
                    </li>
                    <li>
                        <a href="{{ path('printer_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if displayAll == 0 %}
        {{ knp_pagination_render(printer, "CocarBundle::pagination.html.twig") }} 
        <div style="padding-top:30px">
            <ul class="tsc_paginationB tsc_paginationB09">
                <li>
                    <a href="{{ path('printer_index', {all: true}) }}">Visualizar todas as impressoras</a>
                </li>
            </ul>
        </div>
    {% endif %}
    <ul class="button">
        <li>
            <a href="{{ path('printer_new') }}">
                Cadastrar uma nova impressora
            </a>
        </li>
    </ul>
    {% endblock %}
